.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 5%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 80%;
}

.input {
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.select {
    color: #333;
    width: 85%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
}

.button:hover {
    transition: 0.5s;
    background-color: #666;
}

.buttonSubmit{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 5%;
}

.buttonSubmit:hover {
    transition: 0.5s;
    background-color: #666;
}