.container {
    width: 70%;
    /* margin: 20px ; */
    /* padding-bottom: 146px; */
    background: #fff;
    /* border-radius: 8px; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.titleConteiner {
    width: 40%;
}

.title {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    text-align: left;
    color: #333;
}

.description {
    /* margin: 20px ; */
    padding-bottom: 25px;
    height: 100%;
    width: 30%;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.descriptionInner {
    width: 80%;
    margin: 0 auto;
    /* background-color: #333; */
}

.descriptionInner p {
    color: #333;
    padding: 2px;
    margin-bottom: 10px;
    line-height: 1.6;
    text-indent: 20px;
}

.auth {
    margin: 0 auto;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.authInner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex {
    width: 100%;
    display: flex;
    gap: 0px;
}

.loggedHeader {
    display: flex;
    background-color: #333;
    color: #fff;
}

.loggedHeader h1 {
    color: #fff;
}

.nav {
    width: 60%;
    text-align: center;
    /* background-color: #fff; */
    padding: 10px;
}

.navList {
    list-style: none;
    display: flex;
    justify-content: end;
    padding: 0;
}

.navItem {
    margin: 0 10px;
}

.navButton {
    padding: 10px 20px;
    color: #333;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;
}

.navButton:hover {
    background-color: #ddd;
    transition: 0.5s;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: right;
    padding: 2px 0;
    width: 100%;
    font-size: 10px;
}

.footer p {
    margin-right: 10px;
}