.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.profileSection {
    display: flex;
    flex-direction: column;
    width: 60%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.vehicleSection{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-left: 5%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.title {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.subTitle{
    font-size: 1em;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.detailsSection{
    display: flex;
    flex-direction: row;
}

.detailBox{
    width: 40%;
    margin: 0 auto;
    padding: 5%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.detail {
    margin-bottom: 10px;
    font-size: 1em;
    color: #555;
}

.imageContainer {
    margin-top: 15px;
    text-align: center;
}

.profilePicture {
    max-width: 100px;
    border-radius: 50%;
    margin-top: 10px;
}

.warning {
    color: red;
    font-size: 0.9em;
    margin-top: 20px;
}

.button {
    margin: auto;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.button:hover {
    background-color: #333;
    color: #fff;
    transition: 0.5s;
}